<html>
<head>
<title>Quiz Results </title>
</head>
<body>
  <%= link_to('signout', destroy_user_session_path, :method => :delete) %>
<ul>
  <% @quizzes.each do |quiz| %>
    <li><%= "Quiz taken on: #{quiz.created_at}" %></li>
    <li><%= quiz.score %></li>
  <% end %>
</ul>
</body>
</html>
