<html>
<head>
<title>Quiz Results </title>
</head>
<body>
  <%= link_to('signout', destroy_user_session_path, :method => :delete, :class => "btn btn-primary") %>
<div class="container">
<ul class="well">
  <% @quizzes.each do |quiz| %>
    <li><%= "Quiz taken on: #{Date.parse(quiz.created_at.to_s)}" %></li>
    <li><%= "Score: #{quiz.score}"%></li>
  <% end %>
</ul>

</div>
</body>
</html>
